.selected{
	background-color:#fcc;
}
#content{
	width: 85%;
	text-align: center;
	background-color:#fff;
	border: 1px solid #CCC;
	margin: 30px auto;
	padding: 10px 30px;
	border-radius:5px;
	box-shadow: 0px 0px 5px #CCC;
}
button{
	color: #888888;
	font-size: 1em;
}
#content input.qhead{
	display:inline-block;
	border:none;
	margin:10px 0px;
	height: 56px;
	width:100%;
	text-align: center;
	font-size: 1.5em;
	font-weight:bold;
	color: #ccc;
}
hr{
	border:none;
	border-top:2px solid #ccc;
}
/*题目编辑区*/
#content .qbody{
	margin:20px 0px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}
#content .qbody .btn{
	background-color:#fff;
	width:100%;
	line-height: 82px;
}
#content .qbody .btn input{
	width: 102px;
	height: 34px;
	border:1px solid #CCC;
	box-shadow: 0 0 5px #CBCBCB;
	margin-right: 20px;
	border-radius: 5px;
	color: #888888;
	font-size: 1em;
}
#content .qbody input:hover{
	background-color:#EE7419;
}
#content .qbody .add{
height: 80px;
}
#content .qbody button{
	margin:20px 0px;
	border:none;
	background: none;
}
#content .qfooter{
	margin:40px;
	overflow: hidden;
}
#content .qfooter label{
	float: left;
	margin-left:160px;
	line-height: 35px;
	color: #888888;
	font-size: 1em;

}
#content .qfooter .deadline{
	display: inline-block;
	float: left;
	margin-left: 10px;
	width:190px;
	line-height: 30px;
	border: 1px solid #CCC;
	border-radius: 3px;
}
#content .qfooter button{
	width: 110px;
	height: 34px;
	border:1px solid #CCC;
	box-shadow: 0 0 5px #CBCBCB;
	border-radius: 5px;
	color: #888888;
	font-size: 1em;
	margin-right:10px;
	background:none;
}
#content .qfooter button:hover{
	background-color: #EE7419;
}
