	*{padding: 0;margin：0}
	body{
		background-color: #fff;
		color: #555;
		font-family: "Arial";
		font-size: 14px;
		-webkit-font-smoothing:antialiased;
		-moz-font-smoothing:antialiased;
	}

	.wrap{
		width:100%;
		height: 600px;
		position: absolute;
		top:50%;
		margin-top: -300px;
		background-color: #333;
		overflow: hidden;
	}	
	.nav{
		width:23%;
		height: 30px;
		line-height: 30px;
		position: absolute;
		left: 41%;
		bottom: 20px;
		z-index: 999;
	}
	
	.nav .i{
		width:30px;
		height: 30px;
		display: line-block;
		cursor: pointer;
		background-color:#aaa;
		text-align: center;
		border-radius: 15px;
		float: left;
		-moz-transform:scale(0.49);
		-webkit-transform:scale(0.49);
	/* 	-webkit-transition:all 1.5s;
	-moz-transition:all 1.5s; */
	}

	.nav .i_current{
		background-image: url(../img/btnr.png);
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
	}
	.nav .i_back{
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		background-image:url(../img/btnl.png);

	}
	.photo{
		width: 260px;
		height: 320px;
		position: absolute;
		z-index: 1;
		box-shadow: 0 0 1px rgba(0,0,0,0.01); 
		-webkit-perspective:800px;
		-moz-perspective:800px;/*子元素支持3D*/
		-webkit-transition:all 0.6s;
		-moz-transition:all 0.6s;
	}
	.photo .side{
		width: 100%;
		height: 100%;
		background-color:#eee;
		position:absolute;
		top:0;
		right:0 ;
		padding:20px;/*导致超过海报,解决办法设置盒模型的大小*/
		box-sizing:border-box;/*内容和padding在边框之内*/
	}
	.photo .side-front{}
	.photo .side-front .image{
		width: 100%;
		height:230px;
		line-height: 230px;/*垂直居中*/
		overflow: hidden;
	}
	.photo .side-front .image img{
		width: 100%;/*图片根据海报大小确定*/
	}
	.photo .side-front .caption{
	
		padding: 0px;
		width: 100%;
		line-height: 30px;
		font-size: 16px;
		text-align: center;
	}
	.photo .side{position: absolute;}
	.photo .side-back{
	}
	.photo .side-back .desc{
		color: #666;
		font-size: 14px;
		line-height: 1.5em;
	}
	.photo_center{
		left: 50%;
		top:50%;
		margin:-160px 0 0 -130px;/*水平垂直居中*/
		z-index: 999;/*不会被其他海报遮挡*/
		width: 300px;
		height: 350px;
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);

	}

	/*photo-wrap负责旋转*/
	.photo-wrap{
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-transform-style:prespective-3d;
		-moz-transform-style:prespective-3d;
		/*动画过渡效果*/
		-webkit-transition:all 0.6s;
		-moz-transition:all 0.6s;

	}

	.side-front{
		-webkit-transform:rotateY(0deg);
		-moz-transform:rotateY(0deg);

	}
	.side-back{
		-webkit-transform:rotateY(180deg);
		-moz-transform:rotateY(180deg);
	}

	.photo_front .photo-wrap{
		-webkit-transform:rotateY(0deg);
		-moz-transform:rotateY(0deg);
}

	.photo_back .photo-wrap{
		-webkit-transform:rotateY(180deg);
		-moz-transform:rotateY(180deg);
	}  

	/* 问题定位两层互相遮盖，解决办法就是对动作层添加 backface-visibility:hidden;*/

	.photo_front .side{
		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
	}
	.photo_back .side{
		-webkit-backface-visibility:visible;
		-moz-backface-visibility:visible;
	}


